* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ==================== HEADER STYLE ==================== */
.testi-header-container {
    display : flex;
    justify-content : space-between;
    position : absolute;
    width: 100%;
}

.logo {
    width : 240px;
    height : 80px;
    filter: drop-shadow(2px 2px 2px #222);
}

.navigation {
    display : flex;
    justify-content : space-between;
    gap : 20px;
    padding : 0 40px;
    align-items : center;
 }

.nav-item {
    font-family : 'Poppins', sans-serif;
    text-decoration : none;
    color : white;
    font-size : 15px;
    font-weight: bold;
}

.nav-item:hover {
    transition : all 0.2s ease-in-out;
    color : #edea93;
    cursor : pointer;
}

.uniq-item {
    background-color: #6e3a1e;
    padding: 12px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family : 'Poppins', sans-serif;
}

.uniq-item:hover {
    transition : all 0.2s ease-in-out;
    cursor : pointer;
    background-color: #edea93;
}

/* BANNER STYLE */
.testi-banner-background {
    width : 100%;
    height : 400px;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(././images/home/2.jpg);
    background-size : cover;
    background-repeat : none;
}

.testi-banner-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .testi-heading {
    color : #edea93;
    font-family: 'Lora', serif;
    font-weight : bold;
    font-size : 60px;
    text-shadow: 2px 4px 4px #222;
}

/* ==================== SECTION 1 STYLE ==================== */
.testi-section1-container {
    background-color: beige;
    padding : 100px;
}
 
.heading-sec1 {
    text-align : center;
    font-size : 40px;
    color : #6e3a1e;
    font-family: 'Lora', serif;
    margin-bottom: 40px;
}

.testibox-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.testi-box {
    width: 500px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: white;
    cursor: pointer;
}

.testi-box:hover {
    transform: translateY(-5px);
    transition: all 0.2s ease ;
}

.upperbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.image-user {
    border-radius: 50px;
    margin-right: 20px;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user h4 {
    color: black;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #4b4b4b;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.client-review p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #4b4b4b;
    text-align: justify;
}

.linkbottom {
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 10px;
    margin-top: 50px;
}

.linkbottom h3 {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.link-item1 {
    text-decoration: none;
    color: #6e3a1e;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #edea93;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transition-property: transform;
}

.link-item {
    text-decoration: none;
    color: #6e3a1e;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transition-property: transform;
}

.link-item1:hover {
    transform: scale(1.2);
}

.link-item:hover {
    background-color: #edea93;
    padding: 5px;
    border-radius: 10px;
    transform: scale(1.2);
}

.link-itemuniq {
    color: #6e3a1e;
    text-decoration: none;
    font-weight: bold;
}

.link-itemuniq:hover {
    color: #edea93;
}

/* ==================== FOOTER STYLE ==================== */
.testi-container-footer {
    background-color: #6e3a1e;
    padding-top: 20px;
    height: 120px;
}

.testi-wrapper-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyright {
    color : white;
    font-family: 'Poppins', sans-serif;
}

.icon-socialmedia {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.icon-logo {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transition-property: transform;
}

.icon-logo:hover {
    transform: scale(1.5);
}

